<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini project 1</title>
    <link rel="shortcut icon" href="/Images/favico.ico" type="image/x-icon">
    <!-- Bootstarp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/StyleSheets/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid ">
                                <a class="navbar-brand" href="#"><img style="width: 60px; height: 60px; border-radius: 50%;" src="/Images/logo2.png" alt=""></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-light" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/post">Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/liked-posts">Liked Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/profile">Profile</a>
                        </li>
                    </ul>
                    <% if(!token){ %>
                        <button class="btn btn-outline-success" onclick="window.location.href='/login'">
                            Login
                        </button>
                        <% }else{ %>
                            <button class="btn btn-outline-danger" onclick="window.location.href='/logout'">
                                Logout
                            </button>
                            <% } %>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <h1 class="text-light my-4  text-center">Profile</h1>
        <h2 class="text-light mt-4 mb-0 mx-4">
            <span>Hello</span> ,<%=user.username%> 👋🏻
        </h2>
        <p class="text-light my-0 fs-6 mx-4">
            You may create new posts
        </p>
        <div class="container-fluid my-5">
            <form method="post" action="/post">
                <div class="form-floating my-4">
                    <textarea class="form-control" name="post" placeholder="Write your post text"
                        id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Post Text</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>


    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p class="my-3 text-center text-light">
                        &copy; <span id="year"></span> | All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Custom JS -->
    <script src="/Scripts/script.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
</body>

</html>